{% extends "layout/base.html"%}
{%block title%}Add Mobile{%endblock title%}

{%block header%}Electronics Store{%endblock header%}

{%block content%}
<form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <table>
        {{form.as_table()}}
    </table>
    <button type="submit" class="submit-btn">Submit</button>
</form>

<form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{form.as_p()}}
    <button type="submit" class="submit-btn">Submit</button>
</form>

<form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{form.as_div()}}
    <button type="submit" class="submit-btn">Submit</button>
</form>

<form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <ul>
        {{form.as_ul()}}
    </ul>
    <button type="submit" class="submit-btn">Submit</button>
</form>
{%endblock content%}